<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Already Linked!</title>
  <meta http-equiv="refresh" content="5;url=https://wbm.bamboozledmc.xyz/" />
</head>
<body>
<h1>Already Linked!</h1>
<h2>Your Steam & Discord account are already linked with <c>World Boss Moderation</c></h2>
<p>To unlink your account, use <b>!unlink</b> in the bot commands channel in the World Boss Discord.</p>
<p>You will be redirected back to the home page in a few seconds.</p>


<style>
h1 {
  font-family: calibri;
  color: navy;
  padding: 5px;
  text-align: center;
  font-size: 55px;
}
h2 {
  font-family: calibri;
  color: navy;
  text-align: center;
  font-size: 45px;
}
c {
  color: #d90053;
}
p {
  font-family: calibri;
  font-size: 35px;
  text-align: center;
}

body {
  background-image: url('https://bamboozledmc.xyz/wbmback.png');
  background-repeat: repeat;
  background-size: cover;
}

.center {
margin: auto;
width: 50%;
padding: 10px;
display: table;
}

.left {
  float: left;
  width: 45%;
  padding: 5px;
}
.right {
  float: right;
  width: 45%;
  padding: 5px;
}
.pfps {
  border-radius: 15px;
}
</style>
</body>
</html>
