<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Successfully Linked!</title>
</head>
<body>
<h1>Successfully Linked!</h1>
<h2>Your Steam & Discord account are now linked with <c>World Boss Moderation</c><br/><img class="pfps" src="https://media.discordapp.net/attachments/933574813849632848/934606101847109652/worldboss_bot.jpg" style="width:10%"></h2>
<p>You may now close this page.</p>
<div class="center">
  <div class="left">
    <p>Discord<br/><b><%= discordname %></b></p>
    <img class="pfps" src=<%= discordpfp %> style="width:100%">
  </div>
  <div class="right">
    <p>Steam<br/><b><%= steamname %></b></p>
    <img class="pfps" src=<%= steampfp %> style="width:100%">
  </div>
</div>

<style>
h1 {
  font-family: calibri;
  color: navy;
  padding: 5px;
  text-align: center;
  font-size: 55px;
}
h2 {
  font-family: calibri;
  color: navy;
  text-align: center;
  font-size: 45px;
}
c {
  color: #d90053;
}
p {
  font-family: calibri;
  font-size: 35px;
  text-align: center;
}

body {
  background-image: url('https://bamboozledmc.xyz/wbmback.png');
  background-repeat: repeat;
  background-size: cover;
}

.center {
margin: auto;
width: 50%;
padding: 10px;
display: table;
}

.left {
  float: left;
  width: 45%;
  padding: 5px;
}
.right {
  float: right;
  width: 45%;
  padding: 5px;
}
.pfps {
  border-radius: 15px;
}
</style>
</body>
</html>
